NuSVC_classifier.pickle filter=lfs diff=lfs merge=lfs -text
SVC_classifier.pickle filter=lfs diff=lfs merge=lfs -text
featuresets.pickle filter=lfs diff=lfs merge=lfs -text
*.pickle filter=lfs diff=lfs merge=lfs -text
